.basket {
  height: 25px;
}

.basketWrapper {
  position: relative;
}

.itemsInCart {
  position: absolute;
  bottom: 1px;
  font-size: 14px;
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
